version: '3.3'
services:
  webapp:
    image: jdelivuk/docker-java-practical:latest
    deploy:
      resources:
        limits:
          cpus: '0.50'
          memory: 128M
        reservations:
          cpus: '0.25'
          memory: 32M
    ports:
      - "80:8080"
    depends_on:
    - database
    networks:
    - celsius
  db:
    image: mysql:5.6 
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 256M
        reservations:
          cpus: '0.25'
          memory: 64M
    volumes:
       - db_data:/var/lib/mysql
    environment:
      MYSQL_DATABASE: root
      MYSQL_ROOT_PASSWORD: password
    networks:
      - fahrenheit
networks:
  fahrenheit:
      driver: bridge
  celsius:
      driver: bridge
volumes:
    db_data: